extends layout/layout

block main
  .classics-container
    
    .classics-header
      .classics-header__title
        .classics-header__title-bg1
          img(src="https://images.vans.com/is/image/VansBrand/sp19-core-classics-header-paper-2?wid=720")
        .classics-header__title-bg2
          img(src="https://images.vans.com/is/image/VansBrand/sp19-core-classics-header-paper-1?wid=844")     
        .classics-header__title-text--top
          h1 This
        .classics-header__title-text--middle
          h1 is the
        .classics-header__title-text--bottom
          h1 
        .classics-header__title-text--bottom-shoe
          h1 
            
      .classics-header__imgs
        .classics-header__img
          img(id="classics-header__img--1")
        .classics-header__img
          img(id="classics-header__img--2" )
        .classics-header__img
          img(id="classics-header__img--3")
       
    .classics-subnav#subnav
      .classics-subnav__wrapper
        .classics-subnav--left
          a(class="classics-subnav__link all-shoes" href="#") All
          |  / 
          a(class="classics-subnav__link era-shoes" href="#era") Era
        .classics-subnav--right
          a(class="classics-subnav__link" href="https://www.vans.com/utility/store-locator.html") FIND A DEALER
          a(class="classics-subnav__button" href="https://www.vans.com/shop/shoes-classics-original-classics") SHOP NOW  
          
    .classics-subnav--mobile#subnav--mobile
      p.classics-subnav--mobile--text MENU
        img.classics-subnav--mobile--icon(src='https://images.vans.com/is/image/VansBrand/sp19-core-classics-menu-icon?wid=240&fmt=png-alpha')
    .classics-subnav--mobile__wrapper
      ul.classics-subnav--mobile__wrapper--ul
        li.classics-subnav--mobile__wrapper--item
          a.all-shoes.classics-subnav--mobile__wrapper--link(href='#') ALL
        li.classics-subnav--mobile__wrapper--item
          a.era-shoes.classics-subnav--mobile__wrapper--link(href='#era') ERA
        li.classics-subnav--mobile__wrapper--item
          a.classics-subnav--mobile__wrapper--link(href='https://www.vans.com/utility/store-locator.html') FIND A DEALER
        li.classics-subnav--mobile__wrapper--shop
          a.classics-subnav--mobile__wrapper--link(href='https://www.vans.com/shop/shoes-classics-original-classics') SHOP NOW

    .classics-description
      
    .classics-body
      +imageBlock('img1')
      +imageBlock('img2')
      +imageBlock('img3')
      +imageBlock-noText('img4')
      +imageBlock-noText('img5')
      +imageBlock('img6')
                   
            
    .classics-body
      +imageBlock('img7')
      +imageBlock('img8')
      +imageBlock-noText('img9')
      +imageBlock('img10')
      +imageBlock('img11')
      +imageBlock('img12')      
      +imageBlock('img13')
      +imageBlock('img14')
      +imageBlock-noText('img15')
                        
    .classics-subfooter
      a(href="https://www.vans.com/shop/shoes-classics-original-classics")
        .button(class="classics-subfooter__button")
