extends layout/layout

block main

  .classics-container
    
    .classics-header            
      #all-header
        +headerText
        .classics-header__imgs
          +headerImage('all-header__img--mobile')
          +headerImage('all-header__img--0')
          +headerImage('all-header__img--1')
          +headerImage('all-header__img--2')
        
      #era-header
        +headerText
        .classics-header__imgs
          +headerImage('era-header__img--mobile')
          +headerImage('era-header__img--0')
          +headerImage('era-header__img--1')
  
    +subnavMobile
    +subnavDesktop
          
    .classics-description
  
    #all-body    
      .classics-body
        +productBlock('all-product0')
        +productBlock('all-product1')
        +productBlock('all-product2')
        +lifestyleBlock('all-lifestyle0')
        +lifestyleBlock('all-lifestyle1')
        +cutoutBlock('all-cutout0')
        +lifestyleBlock('all-lifestyle2') 
        +productBlock('all-product3')  
        +productBlock('all-product4')  
        +productBlock('all-product5')              
        +productBlock('all-product6')
        +productBlock('all-product7') 
        +cutoutBlock('all-cutout1')
        +lifestyleBlock('all-lifestyle3')
        +productBlock('all-product8')


    #era-body      
      .classics-body
        +productBlock('era-product0')
        +productBlock('era-product1')
        +productBlock('era-product2')
        +lifestyleBlock('era-lifestyle0')
        +lifestyleBlock('era-lifestyle1')
        +cutoutBlock('era-cutout0')
        +productBlock('era-product3')
        +productBlock('era-product4')
        +lifestyleBlock('era-lifestyle2')
        +lifestyleBlock('era-lifestyle3')
        +productBlock('era-product5')
        +productBlock('era-product6')      
        +cutoutBlock('era-cutout1')
        +lifestyleBlock('era-lifestyle4') 
        +productBlock('era-product7')
                        
    +subfooter
    
