@import 'vars/vars';

html,
body {
	display: inline-block;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	display: inline-block;
	font-family: $body-text;
	font-size: $xlarge-headline-size;
	text-transform: uppercase;
	color: #000;
	@media #{$md-mobile} {
		font-size: $headline-size;
	}
}

img {
	max-width: 100%;
}

.classics-container {
	position: relative;
	background-image: url('http://images.vans.com/is/image/VansBrand/s19-classics-white-bg-update?wid=800');
	background-position: center;
	background-repeat: repeat;
}

.classics-header {
	position: relative;
	height: 500px;
	width: 100%;
	overflow: hidden;
	&__imgs {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
	}
	@media #{$md-mobile} {
		height: 350px;
	}
	&__text {
		position: relative;
		height: 500px;
		max-width: 1440px;
		margin: 0 auto;
		&-bg1 {
			position: absolute;
			z-index: 5;
			top: 14%;
			left: 100px;
			width: 350px;
			height: auto;
			@media #{$md-mobile} {
				top: 14%;
				left: 18%;
				width: 210px;
			}
		}
		&-bg2 {
			position: absolute;
			z-index: 8;
			top: 19%;
			left: 80px;
			width: 400px;
			height: auto;
			@media #{$md-mobile} {
				top: 17%;
				left: 13%;
				width: 240px;
			}
		}

		&-top {
			position: absolute;
			z-index: 10;
			top: 20%;
			left: 100px;
			width: 400px;
			font-size: $medium-size;
			@media #{$md-mobile} {
				top: 14%;
				left: 16%;
				width: 250px;
				font-size: 1.4em;
			}
		}
		&-middle {
			position: absolute;
			z-index: 10;
			top: 35%;
			left: 100px;
			width: 400px;
			font-size: $medium-size;
			@media #{$md-mobile} {
				top: 25%;
				left: 16%;
				width: 250px;
				font-size: 1.4em;
			}
		}
		&-bottom {
			position: absolute;
			z-index: 10;
			top: 50%;
			left: 100px;
			width: 400px;
			font-size: $medium-size;
			@media #{$md-mobile} {
				top: 36%;
				left: 16%;
				width: 250px;
				font-size: 1.4em;
			}
		}
	}
}

.classics-subnav--mobile {
	@media #{$md-mobile} {
		display: grid;
	}
	display: none;
	cursor: default;
	background-color: black;
	color: white;
	font-family: $body-text;
	letter-spacing: 0.7em;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	height: 40px;
	width: 100%;
	margin-bottom: -15px;
	&__text {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin: auto 0;
		letter-spacing: 0.2rem;
	}
	&__icon {
		margin: auto 0 auto 10px;
		width: 20px;
	}
	&__pane {
		display: none;
		@media #{$md-desktop} {
			padding-top: 0px;
		}
		margin-top: 0;
		padding-top: 15px;
		background: black;
		&-ul {
			margin-left: 0;
		}
		&-item,
		&-button {
			list-style: none;
			text-align: center;
			margin: 5px auto;
		}
		&-link {
			text-decoration: none;
			color: white;
			font-size: 0.9rem;
			font-weight: 500;
			&:hover {
				color: white;
			}
		}
		&-button {
			background-color: $vans-red;
			height: 40px;
			padding-top: 8px;
			-webkit-transition: ease-in-out 0.2s;
			transition: ease-in-out 0.2s;
			&:hover {
				background-color: black;
			}
		}
	}
}

.classics-subnav {
	@media #{$md-mobile} {
		display: none;
	}
	position: relative;
	background-color: black;
	color: white;
	font-family: $body-text;
	letter-spacing: 0.1em;
	font-weight: 500;
	text-transform: uppercase;
	height: 40px;
	width: 100%;
	&__wrapper {
		position: relative;
		height: 100%;
		max-width: 1440px;
		margin: 0 auto;
	}
	&__link {
		color: white;
		padding: 0 2px;
	}
	&__button {
		margin-left: 40px;
		padding: 12px 20px 9px 20px;
		background-color: $vans-red;
		color: white;
		-webkit-transition: ease-in-out 0.2s;
		transition: ease-in-out 0.2s;
		&:hover {
			background-color: #000;
			color: white;
		}
	}
	&--left {
		position: absolute;
		top: 29%;
		left: 100px;
	}
	&--right {
		position: absolute;
		top: 35%;
		right: 100px;
	}
}
.classics-description {
	position: relative;
	width: 80%;
	max-width: 850px;
	margin: 40px auto 0 auto;
	line-height: 2rem;
}

.classics-body {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
	padding: 50px 0 0 0;
	@media #{$md-mobile} {
		padding: 25px 0 0 0;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}
	&__block {
		display: grid;
		&-content {
			text-align: center;
		}
		&-image {
			margin-bottom: 10px;
			width: 100%;
			-webkit-transition: 0.2s ease-in-out;
			transition: 0.2s ease-in-out;
			&:hover {
				@media #{$md-desktop} {
					-webkit-transform: scale(1.03);
					transform: scale(1.03);
					cursor: pointer;
				}
			}
		}
		&-background {
			position: absolute;
			z-index: -1;
		}
		&-cutout {
			margin-bottom: 10px;
			width: 100%;
			-webkit-transition: 0.2s ease-in-out;
			transition: 0.2s ease-in-out;
			&:hover {
				@media #{$md-desktop} {
					-webkit-transform: scale(1.15) translateY(-5%);
					transform: scale(1.15) translateY(-5%);
					cursor: pointer;
				}
			}
		}
		&-lifestyle {
			width: 100%;
		}
		&-title {
			color: black;
			&:hover {
				@media #{$md-desktop} {
					color: black;
				}
			}
		}
		&-price {
			margin-top: 10px;
			font-size: $small-size;
			color: $vans-red;
		}
	}
}

.classics-subfooter {
	position: relative;
	width: 100%;
	height: 250px;
	background-image: url('https://images.vans.com/is/image/VansBrand/sp19-core-classics-bg-black?wid=800');
	background-position: center;
	background-repeat: repeat-x;
	&__button {
		display: block;
		margin: 10% auto;
		width: 50%;
		max-width: 500px;
		padding: 25px 0;
		-webkit-transform: translateY(125%);
		transform: translateY(125%);
	}
}

// sticky subnav on top
.sticky {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
}

// prevent sudden jump on desktop when subnav sticks
.sticky + .classics-description {
	padding-top: 40px;
}

// prevent sudden jump on mobile when mobile subnav sticks
.sticky + .classics-subnav + .classics-description {
	padding-top: 25px;
}

.vans-loading {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 200px;
	pointer-events: none;
	user-select: none;
	z-index: 100;
	opacity: 0;
	.dot {
		visibility: hidden;
	}
	svg {
		width: 100%;
		.st0 {
			fill: #000;
		}
	}
}
